[Desktop Entry]
Name=eboard
Comment=GTK+ chess board interface for ICS and chess engines
Comment[pl]=Interfejs GTK+ do szachowych programów i serwerów
Icon=eboard
Exec=eboard
Terminal=false
Type=Application
Categories=Game;BoardGame;
# vi: encoding=utf-8